
.head{
  font-size: xx-large;
  font-weight: 800;
  font-family: cursive;
  margin-left: 40%;
  padding-top: 7%;
}
.task{
  margin-top: 2%;
  margin-left: 40%;
  display: inline;
}
.Add{
  margin-left: 2%;
  border-radius: 12px;
  background-color:palegreen
}
.Add:hover{
  background-color: rgb(240, 241, 238);
  transition: .25s;
  color:rgb(63, 66, 66);
  color:crimson;
  font-weight: 700;
}
.container{
  display:grid;
  columns: auto auto;
}
.list{
  margin-left: 39%;
}